<?xml version='1.0' encoding='utf-8'?>
<widget id="io.bonak.bonak" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>Bonak</name>
    <description>Bonak Shopping App</description>
    <author email="jusinstar.py@gmail.com" href="https://bonak-shop.vercel.app/">
        HR Team
    </author>

    <content src="https://bonak-shop.vercel.app/" />

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />

    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/android/splash.png" />
        
        <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />
        
        <preference name="AndroidSplashScreenConfiguration" value='{"stopTimeout": 3000}'/>
        
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />

        </platform>

</widget>